.layout-mixin {
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-color: #e7e7e7;
  border-radius: 0;
}
@media (max-width: 767px) {
  .full-width-on-sm {
    margin-left: -15px;
    margin-right: -15px;
  }
}
img {
  max-width: 100%;
}
#navigation-bar {
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-color: #e7e7e7;
  border-radius: 0;
}
@media (max-width: 767px) {
  #navigation-bar {
    margin-left: -15px;
    margin-right: -15px;
  }
}
#main-content-col {
  background: white;
}
#myCarousel {
  margin-top: 15px;
}
#participants-first-row .band-col {
  margin-bottom: 25px;
}
#coming-concert-col {
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-color: #e7e7e7;
  border-radius: 0;
}
#footer {
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-color: #e7e7e7;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.table-container {
  display: table;
  width: 100%;
  padding: 0 0;
}
.table-row {
  height: 100%;
  display: table-row;
}
.table-cell {
  display: table-cell;
  float: none;
  vertical-align: top;
}
.full-width {
  height: 100%;
}
.my-container {
  padding: 40px;
  margin: 15px auto 15px auto;
}
.band-person {
  margin-bottom: 25px;
  opacity: 0.7;
}
.band-person:hover {
  opacity: 1;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
