//Colors
@myOrange: #f4511e;
@myGray: #f6f6f6;
@myGreen: #1abc9c;
@lightBlue: #6498a2;
@darkBlue: #474e5d;
@myGray: #555;
@footerColor: #2f2f2f;
@blackBack: #2d2d30;
@grayText: #bdbdbd;


.my-mixin (@bg-color, @text-color: white) {
    background-color: @bg-color;
    color: @text-color;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Disable the ability to resize textareas */
textarea {
    resize: none;
}

img {
    max-width: 100%;
}

.container {
    padding: 40px 60px;
}

.band-col {
    padding: 0px 30px;
}

.band-person {
    margin-bottom: 25px;
    opacity: 0.7;
    
    &:hover {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

#myCarousel {
    .carousel-inner {
        img {
            -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
            width: 100%;
            margin: auto;
        }
    }
    
    .carousel-caption h3 {
        color: white;
    }
}

.label {
    float: right;
}

.bg-black {
    .my-mixin(@blackBack, @grayText);
    p {
        font-style: italic;
    }
    h3 {
        color: white;
    }
}

#tour-block {
   padding-top: 50px; 

    #tour-list {
        margin-top: 30px;
        
        .list-group-item {
            border-radius: 0;
        }
    }

    .tour-cities {
        border: none;
        border-radius: 0;
        padding: 0 0 15px 0;

        img {
            width: 100%;
        }

        p {
            margin-top: 10px;
            color: @myGray;
        }

        button {
            .my-mixin(@blackBack, white);
            padding: 10px 20px;
            border-radius: 0;
            transition: .2s;

            &:hover, &:focus {
                .my-mixin(white, @blackBack);
                border: 1px solid @blackBack;
            }
        }
    }
}

#myModal {
    h4 {
        font-size: 30px;
        text-align: center;
    }
    
    label {
        color: @grayText;  
    }
    
    .close {
        background-color: #333;
        font-size: 30px;
    }
    
    .modal-body {
        padding: 40px 50px;
    }
    
    .modal-header {
        .my-mixin(#333, white);
        padding: 40px 50px;
    }
    
    .btn {
        .my-mixin(#333, white);
    }
}

#contact-block {
    #love-fan-msg {
        font-style: italic;
    }
    
    button {
        .my-mixin(@blackBack, white);
        border-radius: 0;
        transition: .2s;

        &:hover, &:focus {
            .my-mixin(white, @blackBack);
             border: 1px solid @blackBack;
        }
    }
    
    h3 {
        margin-top: 35px;
    }
    
    .nav-tabs {
        li {
            a {
                color: black;
            }
        }
    }
    
    .tab-content {
        h4 {
            margin-top: 20px;
        }
    }
}

#googleMap {
    width: 100%; /* Span the entire width of the screen */
    height: 400px; /* Set the height to 400 pixels */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
}

#site-navigation {
    a {
        color: #d5d5d5;
        &:hover {
            color: white;
        }
    }
    
    .open .dropdown-toggle {
        color: #fff ;
        background-color: #555;
    }
    
    .dropdown-menu li a:hover {
        background-color: red;
    }
    
    .dropdown-menu li a {
        color: #000;
    }
    
    .navbar-nav li.active a {
        color: #fff;
        background-color:#29292c;
    }
    
    font-size: 11px;
    opacity: 0.9;
    letter-spacing: 4px;
    background-color: @blackBack;
}

#myNavbar {
    ul {
       li {
           &:active {
               a {
                   color: white;
                   background-color: #29292c;
               }
           }
           a {
               color: #d5d5d5;
               &:hover {
                   color: white;
               }
           }
        } 
    }
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    a {
        color: #f5f5f5;
        &:hover {
            color: #777;
            text-decoration: none;
        }
    }
}
