body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {
  font-size: 16px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar li a:hover {
  color: #1abc9c !important;
}
.avatar {
  display: inline;
}
.bird {
  max-width: 100%;
}
.bg-1 {
  background-color: #1abc9c;
  color: white;
}
.bg-2 {
  background-color: white;
  color: #555;
}
.bg-3 {
  background-color: #6498a2;
  color: white;
}
.bg-4 {
  background-color: #2f2f2f;
  color: #fff;
}
