@sm-size: 768px;
@layout-color: #f8f8f8;
@layout-border-color: #e7e7e7;

// Миксин для прототипирования
.layout-mixin {
    // Цвет и граница для обозначения блоков (просто, чтобы обозначить; потом уберем)
    background-color: @layout-color;
    border: 1px solid transparent;
    border-color: @layout-border-color;
    border-radius: 0;  
}

.full-width-on-sm {
    // На маленьких экранах устанавливает ширину блока во всю ширину экрана
    @media (max-width: (@sm-size - 1)) {
        margin-left: -15px;
        margin-right: -15px;
    } 
}

// Для адаптивности картинок (чтобы не наезжали друг на друга)
img {
    max-width: 100%;
}

#navigation-bar {
    .full-width-on-sm();
    .layout-mixin();
}

#main-content-col {
    background: white;  	
}

#myCarousel {
    margin-top: 15px;
}

#participants-first-row {
    .band-col {
        margin-bottom: 25px;
    }
}

#coming-concert-col {   
    .layout-mixin();
}

#footer {
    .full-width-on-sm();
    .layout-mixin();
    padding-top: 15px;
    padding-bottom:  15px;
    margin-bottom: 0;
}

// КЛАССЫ ДЛЯ ТАБЛИЧНОЙ РАЗМЕТКИ. НАЧАЛО

// Эти 3 класса используются для создания табличной структуры сайта
// С помощью JS я подключаю их на больших размерах экрана и убираю на маленьких
.table-container {
    display:table;
    width: 100%;
    padding: 0 0;
}

.table-row {
    height: 100%;
    display: table-row;
}

.table-cell {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.full-width {
    height: 100%;
}

// КЛАССЫ ДЛЯ ТАБЛИЧНОЙ РАЗМЕТКИ. КОНЕЦ

// Бутстраповский контейнер все пидарасит, поэтому создал свой
.my-container {
    padding: 40px;
    margin: 15px auto 15px auto;
}

.band-person {
    margin-bottom: 25px;
    opacity: 0.7;
    
    &:hover {
        opacity: 1;
    }
}

// 2 класса для того, чтобы элементы навигационного меню были посередине
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
