//Colors
@myOrange: #f4511e;
@myGray: #f6f6f6;
@logoColor: @myOrange;

@media screen and (max-width: 768px){
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.jumbotron {
    background-color: @myOrange;
    color: #fff;
    padding: 100px 25px;
}

.bg-grey {
    background-color: @myGray;
}

.container-fluid {
    padding: 60px 50px;
    
    h2 {
        padding-bottom: 20px;
    }
    
    h4 {
        line-height: 1.6;
    }
}

.offer-row {
    margin-bottom: 30px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none; 
    color: @myOrange;
}

.carousel-indicators {
    li {
        border-color: @myOrange;
        &.active {
            background-color: @myOrange;
        }
    }
}

.item {
    h4 {
        font-style: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
    }
    span {
        font-style: normal;
    }
}

.thumbnail {
    padding: 0px 0px 15px 0px;
    border: none;
    border-radius: 0;
    
    img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
}

.logo {
    font-size: 200px;
    color: @logoColor;
}

.logo-small {
    font-size: 50px;
    color: @logoColor;
}

.panel {
    border-color: @myOrange;
    border-radius: 0px;
    margin-top: 20px;
    transition: box-shadow 0.5s;
        
    &:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .35);
    }
    
    .panel-heading {
        border-radius: 0px;
        padding: 25px;
        color: #fff;
        background-color: @myOrange;
    }
    
    .panel-footer{
        background-color: #fff;
        h3 {
            font-size: 32px;
        }
        
        h4 {
            font-size: 14px;
            color: #aaa;
        }
        
        button {
            color: #fff;
            background-color: @myOrange;
            margin: 15px 0;
            
            &:hover {
                color: @myOrange;
                background-color: #fff;
                border-color: @myOrange;
            }
        }
    }
}

.my-form-group {
   margin-bottom: 15px;
}

#menuSuka.navbar {
    background-color: @myOrange;
    border: none;
    letter-spacing: 4px;
    line-height: 1.42857143;
    margin-bottom: 0;

    button.navbar-toggle {
        border: 0;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: @myOrange;
        }
    }
    .navbar-header{
        a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }

    li {
        a {
            color: #fff;
            &:hover {
                color: @myOrange;
                background-color: #fff;
            }
        }
    }
    
    li.active {
        a {
            color: @myOrange;
            background-color: #fff;
        } 
    }
}

footer .glyphicon {
    color: @myOrange;
    margin-bottom: 20px;
    font-size: 20px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}