@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.container-fluid {
  padding: 60px 50px;
}
.container-fluid h2 {
  padding-bottom: 20px;
}
.container-fluid h4 {
  line-height: 1.6;
}
.offer-row {
  margin-bottom: 30px;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}
.item h4 {
  font-style: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.thumbnail {
  padding: 0px 0px 15px 0px;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.logo {
  font-size: 200px;
  color: #f4511e;
}
.logo-small {
  font-size: 50px;
  color: #f4511e;
}
.panel {
  border-color: #f4511e;
  border-radius: 0px;
  margin-top: 20px;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.35);
}
.panel .panel-heading {
  border-radius: 0px;
  padding: 25px;
  color: #fff;
  background-color: #f4511e;
}
.panel .panel-footer {
  background-color: #fff;
}
.panel .panel-footer h3 {
  font-size: 32px;
}
.panel .panel-footer h4 {
  font-size: 14px;
  color: #aaa;
}
.panel .panel-footer button {
  color: #fff;
  background-color: #f4511e;
  margin: 15px 0;
}
.panel .panel-footer button:hover {
  color: #f4511e;
  background-color: #fff;
  border-color: #f4511e;
}
.my-form-group {
  margin-bottom: 15px;
}
#menuSuka.navbar {
  background-color: #f4511e;
  border: none;
  letter-spacing: 4px;
  line-height: 1.42857143;
  margin-bottom: 0;
}
#menuSuka.navbar button.navbar-toggle {
  border: 0;
  color: #fff;
}
#menuSuka.navbar button.navbar-toggle:hover {
  background-color: #fff;
  color: #f4511e;
}
#menuSuka.navbar .navbar-header a {
  color: #fff;
}
#menuSuka.navbar .navbar-header a:hover {
  color: #fff;
}
#menuSuka.navbar li a {
  color: #fff;
}
#menuSuka.navbar li a:hover {
  color: #f4511e;
  background-color: #fff;
}
#menuSuka.navbar li.active a {
  color: #f4511e;
  background-color: #fff;
}
footer .glyphicon {
  color: #f4511e;
  margin-bottom: 20px;
  font-size: 20px;
}
.slideanim {
  visibility: hidden;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
