@myGreen: #1abc9c;
@lightBlue: #6498a2;
@darkBlue: #474e5d;
@myGray: #555;
@footerColor: #2f2f2f;

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.my-mixin (@bg-color, @text-color: white) {
    background-color: @bg-color;
    color: @text-color;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    
    li a:hover {
        color: @myGreen !important;
    }
}

.avatar {
    display: inline;
}

.bird {
    max-width: 100%;
}

.bg-1 {
    .my-mixin(@myGreen)
}

.bg-2 {
    .my-mixin(white, @myGray)
}

.bg-3 {
    .my-mixin(@lightBlue, white)
}

.bg-4 {
    .my-mixin(@footerColor, #fff)
}
