body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* Disable the ability to resize textareas */
textarea {
  resize: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 40px 60px;
}
.band-col {
  padding: 0px 30px;
}
.band-person {
  margin-bottom: 25px;
  opacity: 0.7;
}
.band-person:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .carousel-caption {
    display: none;
  }
}
#myCarousel .carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  width: 100%;
  margin: auto;
}
#myCarousel .carousel-caption h3 {
  color: white;
}
.label {
  float: right;
}
.bg-black {
  background-color: #2d2d30;
  color: #bdbdbd;
}
.bg-black p {
  font-style: italic;
}
.bg-black h3 {
  color: white;
}
#tour-block {
  padding-top: 50px;
}
#tour-block #tour-list {
  margin-top: 30px;
}
#tour-block #tour-list .list-group-item {
  border-radius: 0;
}
#tour-block .tour-cities {
  border: none;
  border-radius: 0;
  padding: 0 0 15px 0;
}
#tour-block .tour-cities img {
  width: 100%;
}
#tour-block .tour-cities p {
  margin-top: 10px;
  color: #555;
}
#tour-block .tour-cities button {
  background-color: #2d2d30;
  color: white;
  padding: 10px 20px;
  border-radius: 0;
  transition: .2s;
}
#tour-block .tour-cities button:hover,
#tour-block .tour-cities button:focus {
  background-color: white;
  color: #2d2d30;
  border: 1px solid #2d2d30;
}
#myModal h4 {
  font-size: 30px;
  text-align: center;
}
#myModal label {
  color: #bdbdbd;
}
#myModal .close {
  background-color: #333;
  font-size: 30px;
}
#myModal .modal-body {
  padding: 40px 50px;
}
#myModal .modal-header {
  background-color: #333;
  color: white;
  padding: 40px 50px;
}
#myModal .btn {
  background-color: #333;
  color: white;
}
#contact-block #love-fan-msg {
  font-style: italic;
}
#contact-block button {
  background-color: #2d2d30;
  color: white;
  border-radius: 0;
  transition: .2s;
}
#contact-block button:hover,
#contact-block button:focus {
  background-color: white;
  color: #2d2d30;
  border: 1px solid #2d2d30;
}
#contact-block h3 {
  margin-top: 35px;
}
#contact-block .nav-tabs li a {
  color: black;
}
#contact-block .tab-content h4 {
  margin-top: 20px;
}
#googleMap {
  width: 100%;
  /* Span the entire width of the screen */
  height: 400px;
  /* Set the height to 400 pixels */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#site-navigation {
  font-size: 11px;
  opacity: 0.9;
  letter-spacing: 4px;
  background-color: #2d2d30;
}
#site-navigation a {
  color: #d5d5d5;
}
#site-navigation a:hover {
  color: white;
}
#site-navigation .open .dropdown-toggle {
  color: #fff ;
  background-color: #555;
}
#site-navigation .dropdown-menu li a:hover {
  background-color: red;
}
#site-navigation .dropdown-menu li a {
  color: #000;
}
#site-navigation .navbar-nav li.active a {
  color: #fff;
  background-color: #29292c;
}
#myNavbar ul li:active a {
  color: white;
  background-color: #29292c;
}
#myNavbar ul li a {
  color: #d5d5d5;
}
#myNavbar ul li a:hover {
  color: white;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
